{% extends 'blog_layout.html.twig' %}

{% block title %}{% trans %}Portfolio{% endtrans %}{% endblock %}

{% block content %}

    <h2>{% trans %}Portfolio{% endtrans %}</h2>
    <hr>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin urna vulputate turpis porttitor iaculis. Phasellus ac nulla arcu. Ut congue, dui sed sollicitudin tempus, urna eros lacinia quam, non commodo velit mi nec tellus. Quisque ultrices, metus eget commodo pretium, dui arcu iaculis felis, ut pellentesque neque mi eu tortor. Quisque ipsum nulla, efficitur eget maximus a, lobortis non arcu. Mauris ullamcorper turpis vel aliquam bibendum. Donec mi ligula, sollicitudin at pulvinar ac, interdum vel lectus. Etiam blandit laoreet pulvinar. Fusce nisl neque, vestibulum ac sem in, dictum tincidunt metus. Nunc sit amet fermentum nibh, at lobortis justo.
    </p>
    <p>
        Etiam tempus turpis odio, a porta ligula sodales quis. In fringilla tincidunt viverra. Nunc ut ipsum rhoncus, viverra nulla et, ullamcorper nibh. Nam ex mi, sollicitudin nec finibus eu, lacinia non diam. Duis convallis vel erat faucibus molestie. In in mi cursus, viverra felis nec, pellentesque eros. In hac habitasse platea dictumst.
    </p>
    <p>
        Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a purus elementum, blandit ex eu, lobortis arcu. Vestibulum ante dui, mattis vitae metus quis, vestibulum ultrices velit. Etiam blandit ultricies leo vel porttitor. Curabitur sapien neque, fermentum at metus gravida, posuere fringilla massa. Pellentesque molestie scelerisque ligula at luctus. Nulla facilisi. Aenean tortor lacus, pharetra at fringilla nec, congue non ex. Aliquam tellus nisi, congue ut sollicitudin non, viverra id risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque vestibulum hendrerit dapibus. Aliquam interdum pharetra eros. Quisque id efficitur nibh, nec imperdiet lorem. In et turpis ex.
    </p>


{% endblock %}
