{% extends 'admin_layout.html.twig' %}

{% block main %}

<h1 class="pb-2">Banner panel</h1>

<h3>Current banner:</h3>
<div class="container-fluid p-0">
    <img class="img-fluid w-100" src="{{ asset('images/') ~ banner.image }}" alt="{{banner.altText}}"/>
</div>
<div class="d-flex justify-content-center p-4">
<a href="{{path('app_admin_banner_change')}}" class="btn btn-primary m-1">Change current banner</a>
<a href="{{path('app_admin_banner_disable',{'banner':banner.id})}}"
{% if banner.active %}
    class="btn btn-danger m-1">
    Disable banner
{% else %}
    class="btn btn-success m-1">
    Active banner
{% endif %}
</a>
</div>
{% endblock %}