{% extends 'admin_layout.html.twig' %}
{% block title %}{% trans %}Admin dashboard{% endtrans %}{% endblock %}
{% block main %}

    <h2 class="p-2" >{% trans %}Welcome{% endtrans %} {{app.user.username}}!</h2>
    <hr class="mb-3" size="5">
    <div class="row mb-3 p-2">
        <a href="{{path('app_admin_post_panel')}}" class="p-3 btn btn-primary w-100 fs-3">{% trans %}Edit.posts{% endtrans %}</a>
    </div>
    <div class="row mb-3 p-2">
        <a href="{{path('app_admin_category_panel')}}" class="p-3 btn btn-warning w-100 fs-3">{% trans %}Edit.categories{% endtrans %}</a>
    </div>
    <div class="row p-2">
        <a href="{{path('app_admin_banner_panel')}}" class="p-3 btn btn-success w-100 fs-3">{% trans %}Edit.banner{% endtrans %}</a>
    </div>
 

{% endblock %}