{% extends 'admin_layout.html.twig' %}

{% block main %}

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Page name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>


  </tbody>
</table>
 

{% endblock %}