{% extends 'admin_layout.html.twig' %}

{% block main %}

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Page name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for page in pages %}
        <tr>
            <td>{{page.id}}</td>
            <td>{{page.pageName}}</td>
            <td><a href="{{path('app_admin_page_edit',{'page':page.id})}}" class="btn btn-primary mx-1">Edit content</a>
        </tr>
    {% endfor %}
  </tbody>
</table>
 

{% endblock %}