{% extends 'base.html.twig' %}

{% block body %}

    {% block navbar %}
        {{ include ('blog_elements/navbar.html.twig') }}
    {% endblock %}
    {% block banner %}
        {{ render(controller('App\\Controller\\RenderBannerController::renderBanner')) }}
    {% endblock %}
    {% block main %}
        <div class="container-fluid bg-light">
            <h1 class="pb-1 pt-5 d-flex justify-content-center">SymfonyBlog</h1>
            <h3 class="pb-2 d-flex justify-content-center">Made by admin</h3>
            <hr>
            <div class="bg-light row justify-content-sm-center pb-4">
                <div class="col-lg-8 p-0">
                    <div class="p-3 border h-100">
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="p-0">
                    <div class="row m-0 p-5 bg-primary text-white">
                        {% block postNav %} 
                            {{ render(controller('App\\Controller\\PostNavController::renderSidebar')) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footer %}
        {{ include ('blog_elements/footer.html.twig') }}
    {% endblock %}

{% endblock %}