.relation-link{
    text-decoration: none;
    font-weight: bold;
    color: rgb(47, 98, 174);
}
.help-text{
    color: gray;
    font-size: 12px;
    display: inline;
}
.form-control, .tox .tox-editor-container, .form-select{
    border: 1px solid #3c3c3c8a;
}