
<a style="text-decoration: none; color: blue;" {% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %}>
    <span>
        {% if sorted %}
            {% if direction == 'desc' %}
                <i class="bi bi-sort-down"></i>
            {% else %}
                <i class="bi bi-sort-up"></i>
            {% endif %}
        {% else %}
            <i class="bi bi-filter-left"></i>
        {% endif %}
    </span>
</a>{{ title }}
